---
import Form from "../components/Form.astro";
import Chart from "../components/Chart.astro";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Prediction Chart</title>
	</head>
	<body>
		<div class="flex justify-center items-center w-full h-screen">
			<div class="gap-4 w-1/2 p-4">
				<Form />
				<Chart />
			</div>
		</div>
	</body>
</html>
